*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.orange{
   background-color: orange;
   width: 50px;
   height: 50px;
   margin: 0px;
}
.container{
   display: flex;
   justify-content: center;
}
.spacer1{
   width:25px;
   height: 25px;
}
.spacer2{
   width:50px;
   height: 50px;
}
.spacer3{
   width:80px;
   height: 80px;
}
.white{
   width: 50px;
   height: 50px;
   margin: 0px;
   background-color:white;
}