@charset "utf-8";
/* CSS Document */
.open{
	text-align:center;
	color:red;
	text-transform: capitalize;
}
.Hello{
	background-color:darkorchid;
	color:white
}
.Infor{
	margin-left:10px;
}
.request{
	background-color: aqua;
	color:darkblue;
}
.idea{
	font-size: 1.5em;
	background-image:url("../../../Pictures/ảnh/tải xuống (1).jpg");
}
.bye{
	background-color:darkkhaki;
}